body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#gameArea {
    border: 1px solid white;
}

#gameCanvas {
    background-color: gray;
}