* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fonte-primaria);
}

:root {
    --cor-primaria: #bebebe;
    --fonte-primaria: 'Times New Roman';
}

.card-destaque {
    background-image: url(../images/luara-textil-moda-e-estilo-voce-sabe-a-diferenca-1536x1152.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.produtos-destaque {
    text-align: start;
}

.promocoes-especiais {
    text-align: center;
}

.produtos-destaque {
    display: flex;
    flex-flow: row wrap;
}

.card-promocoes img {
    width: 100%;
    height: 100%;
}

.botao {
    background-color: blueviolet;
    padding: 5px 10px;
}

.card {
    display: flex;
    flex-flow: row wrap;
}